@import '../styles/partials/variables.scss';

.add-tree {
    width: 100vw;
    
    z-index: 1000;
    display: flex;
    justify-content: center;
    position: fixed;
 
    &__content {
        background-color: $app-tertiary-color;
        background-color: white;
        padding: 1rem;
        border: 2px solid $app-primary-color;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        text-align: center;
        margin-top: 3.5rem;
        width: 50vw;
    }
    &__icon {
        height: 4rem;
        width: 4rem;
        display: block;
        margin: 0 auto .75rem auto;
        cursor: pointer;
    }
    &__instructions {
        font-style: italic;
    }
    &__input-tree-name {
        border-radius: 4px;
        width: 40vw;
        margin: 0 auto .75rem auto;
    }
    &__input-tree-description {
        width: 40vw;
        margin: 0 auto .75rem auto;
    }
    &__button-create {
        width: 6rem;
        margin: 0 auto .5rem auto;
        display: block;
    }
    &__button-close {
        width: 6rem;
        display: block;
        margin: auto;
    }
}