@import '../styles/partials/variables.scss';

.tree-card {
    width: 90%;
    cursor: pointer;
    background-color: white;
    border: 1px solid $app-primary-color;
    border-radius: 4px;
    margin: .5rem auto 0 auto;
    padding: .25rem;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    &--active {
        background-color: $app-tertiary-color;
       
    }
    &__image {
        margin: 0 auto;
        height: 2rem;
        width: 2rem;
        filter: invert(40%) sepia(51%) saturate(2904%) hue-rotate(206deg) brightness(101%) contrast(101%);
    }
    &__header {
        margin: 0;
        padding: 0;
        color: red;
       
    }
    &__title, &__subtitle {
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    &__subtitle {
        
        font-style: italic;
    }
    &__actions {
        display: flex;
        justify-content: space-between;
    }
    &__delete, &__edit, &__down, &__up {
        height: 1rem;
        width: 1rem;
    }
    &__actions {
        margin-top: .25rem;
        padding: 0 .25rem;
       
    }
    &__delete {
        filter: invert(20%) sepia(53%) saturate(5945%) hue-rotate(352deg) brightness(101%) contrast(92%);
    }
    &__edit {
        filter: invert(40%) sepia(51%) saturate(2904%) hue-rotate(206deg) brightness(101%) contrast(101%);
    }
    &__down, &__up {
        filter: invert(31%) sepia(27%) saturate(0%) hue-rotate(231deg) brightness(117%) contrast(86%);
    }

    &:hover {
        background-color: $app-tertiary-color;
    }
}