:root {

  --ion-toolbar-background: var(--ion-color-primary);

  --ion-tab-bar-background: var(--ion-color-primary);

  --ion-toolbar-color: var(--ion-color-primary-contrast);

  --ion-tab-bar-color: var(--ion-color-primary-contrast);

  --ion-tab-bar-color-selected: var(--ion-color-secondary);

 }


 .ios ion-card-title {
  font-size: 1.5rem;
 }


 .ios ion-card-subtitle {
  font-size: 1rem;
 }


 ion-card {
  width: 96%;
  max-width: 600px;
 }


ion-menu {
    --width: 4rem;
    --max-width: 4rem;
    --ion-background-color: var(--ion-color-secondary);
    --ion-background-color: white;
    --ion-text-color: var(--ion-color-secondary-contrast);
 }

ion-menu ion-title {
  --ion-background-color: var(--ion-color-primary);
  --ion-text-color: var(--ion-color-primary-contrast);
  margin: 0;
  padding: 0;
}

.ion-color-primary {
  color: var(--ion-color-primary);
}
  
.native-input.sc-ion-input-md {
  padding: .25rem;
}

 ion-menu ion-header ion-item {
  padding: 0;
 }


 ion-menu ion-header ion-item ion-icon {
  padding: 0;
 }

 ion-select {
  --placeholder-color: black;
  --placeholder-opacity: 1;

 }

 .ion-menu-button-container {
   height: 100px;
   width: 100px;
 }

 .cursor-pointer {
   cursor: pointer;
   overflow-y: scroll;
 }

 /* add a scrollbar to ion-select */

 .alert-radio-group::-webkit-scrollbar, .alert-checkbox-group::-webkit-scrollbar {
  width: 0.7em;
  display: block !important;
    &::-webkit-scrollbar {
      width: 12px;
  }

  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
      border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5); 
  }
}

.alert-radio-group::-webkit-scrollbar-track, .alert-checkbox-group::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.alert-radio-group::-webkit-scrollbar-thumb, .alert-checkbox-group::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid rgba($color: #aaaaaa, $alpha: .75);
  border-radius: 4px;
}

.modern-scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
      &::-webkit-scrollbar {
          width: 12px;
      }
      
      &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
          border-radius: 10px;
      }
      
      &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5); 
      }
}

